#### Forecast Demand whit ARIMA Model

In [1]:
# Importing Basic libraries 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os 
import re
# Importing time series specific libraries
import statsmodels.api as sm
from statsmodels.graphics.tsaplots import plot_acf
from statsmodels.graphics.tsaplots import plot_pacf
from statsmodels.tsa.stattools import adfuller
from scipy.stats import bartlett
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.tsa.ar_model import AR
from statsmodels.tsa.arima.model import ARIMA
import pmdarima
from pmdarima import auto_arima
from statsmodels.tsa.statespace import sarimax
import prophet
from prophet import Prophet
from scipy.stats import levene
# Miscellaneous libararies
import warnings
warnings.filterwarnings('ignore')
from math import sqrt
from random import random

# Libaraies for evaluation of model
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error, median_absolute_error, mean_squared_log_error
from statsmodels.tsa.arima.model import ARIMAResults

c:\Users\milla\AppData\Local\Programs\Python\Python311\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [6]:
 #?  Function for solver data import
def import_data(x):
    """Import the data from a file into the Excel document"""
    global df 
    route_script = os.getcwd()
# Excel name :
    name_doc = x
#Combine script route and name_doc
    route_doc=os.path.join(route_script,name_doc)
#Load data in a Data Frame to panda 
    df=pd.read_excel(route_doc)
    return df

,idprov,fecha,dem1,dem2,dem3,dem4,dem5,dem6,dem7,dem8,...,dem16,dem17,dem18,dem19,dem20,dem21,dem22,dem23,dem24,dem25
0,'IJV','01-May-2007 00:00:00',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,'IJV','01-Jul-2007 00:00:00',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,'IJV','27-Jul-2007 00:00:00',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,'IJV','28-Jul-2007 00:00:00',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,'IJV','30-Jul-2007 00:00:00',NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3915,'IJV','14-Apr-2018 00:00:00',15.0,14.0,13.0,13.0,13.0,13.0,13.0,12.0,...,12.0,12.0,13.0,14.0,15.0,16.0,16.0,16.0,15.0,16.0
3916,'IJV','15-Apr-2018 00:00:00',15.0,14.0,14.0,13.0,13.0,13.0,12.0,12.0,...,12.0,12.0,13.0,14.0,15.0,15.0,16.0,16.0,15.0,16.0
3917,'IJV','16-Apr-2018 00:00:00',14.0,13.0,13.0,13.0,12.0,13.0,12.0,12.0,...,12.0,12.0,12.0,12.0,14.0,14.0,14.0,13.0,12.0,14.0
3918,'IJV','17-Apr-2018 00:00:00',11.0,11.0,10.0,10.0,10.0,10.0,10.0,10.0,...,11.0,11.0,12.0,13.0,14.0,14.0,14.0,13.0,12.0,14.0
3919,'IJV','18-Apr-2018 00:00:00',12.0,11.0,11.0,10.0,10.0,11.0,11.0,11.0,...,13.0,12.0,13.0,13.0,14.0,15.0,15.0,14.0,13.0,15.0